body{
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    color: white;
    text-align: center;
}


#grupo-botones{
    display: flex;
    width: 100%;
}

#grupo-botones > button > img{
    max-width: 150px;
}

#grupo-botones > button{
    border-radius: 10px;
}

#grupo-botones > button:hover{
    transform: scale(1.2);
}